# Configuración de la base de datos
PORT = 4000 #PUERTO
PORT_DEV = 4001 #DESARROLLO
NODE_ENV =  "development",
DB_ENGINE="mysql"
DB_SERVER="localhost" #HOST_Localhost
DB_NAME="encuestas" #NOMBRE_DE_BASES_DATOS_A_USAR
DB_USER="root" #NOMBRE_DEL_USUARIO_DE_BASES_DE_DATOS
DB_PASSWORD="Daka*2024" #PASSWORD_DE_BASES_DE_DATOS
DB_PORT=3306 #5421 PRODUCCION 3306 LOCALHOST
JET_SECRET ="123456"